<html>
    <head>
        {% load static %}
        <title>{% block title %}Simple Planner{% endblock %}</title>
        {% block head_content %}{% endblock %}
    </head>
    <body>
        <div id="title">
            <h1>Simple Planner</h1>
            Copyright © Anschel Burk 2024. All rights not expicitly granted in <a href="https://github.com/anschelburk/simple_planner/blob/main/LICENSE.txt" target="_blank">this project's license</a> reserved.
        </div>
        {% block body_content %}{% endblock %}
    </body>
</html>
