{% extends "base_site.html" %}

{% block head_content %}
    {% load static %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
    <link href="{% static 'css/styling.css' %}" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block body_content %}
    <div id='calendar'></div>
{% endblock %}