{% extends "base_site.html" %}

{% block head_content %}
    {% load static %}
    
    <!-- For HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    
    <!-- For calendar_modal_structure.html -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- For FullCalendar -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
    <link href="{% static 'css/styling.css' %}" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block body_content %}
    <div id='calendar'></div>
    {% include "calendar_modal_structure.html" %}
{% endblock %}