{% extends "base_site.html"}

{% block head_content %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body_content %}
    <h1>Create Publisher and Books</h1>
    <form method="post">
        {% csrf_token %}
        {{ publisher_form.as_p }}
        <div id="books">
            {{ book_formset.management_form }}
            {% for form in book_formset %}
                <div class="book-form">
                    {{ form.as_p }}
                    {% if form.instance.pk %}
                        <button type="button" class="remove-book">Remove</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" id="add-book">Add Another Book</button>
        <button type="submit">Save</button>
    </form>
    <script type="application/json" id="total-form-count">
        {{ book_formset.total_form_count|json_script:"totalFormCount" }}
    </script>
    <script>
        $(document).ready(function() {
            // Initialize bookFormIdx from total-form-count script
            var bookFormIdx = JSON.parse(document.getElementById('total-form-count').textContent);
    
            // Add book button click handler
            $('#add-book').click(function() {
                var formHtml = $('#books .book-form:last').html();
                $('#books').append('<div class="book-form">' + formHtml.replace(/__prefix__/g, bookFormIdx) + '</div>');
                bookFormIdx++;
                updateFormsetManagement();
            });
    
            // Remove book button click handler
            $(document).on('click', '.remove-book', function() {
                $(this).closest('.book-form').remove();
                updateFormsetManagement();
            });
    
            // Function to update formset management
            function updateFormsetManagement() {
                var totalForms = $('#books .book-form').length;
                $('#id_book_set-TOTAL_FORMS').val(totalForms);
            }
        });
    </script>
{% endblock %}