{% extends "base_site.html" %}

{% block head_content %}
    {% load static %}
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
    <link href="{% static 'css/styling.css' %}" rel="stylesheet">
    <script src="{% static 'js/list_script.js' %}"></script>
{% endblock %}

{% block body_content %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="list-container">
        {% for list in lists %}
            <div class="list">
                <h1>{{ list.list_name }}</h1>
                <ul id="item-list-{{ list.id }}">
                    {% for item in list.items %}
                        <li id="item-{{ item.pk }}" hx-get="{% url 'list_update_item' item.pk %}" hx-trigger="click">
                            {{ item.content }}
                        </li>
                    {% endfor %}
                </ul>
                <form id="add-item-form-{{ list_name.pk }}" hx-post="{% url 'list_add_item' %}" hx-target="#item-list-{{ list_name.pk }}" hx-swap="beforeend" hx-on="htmx:afterOnLoad: this.reset()">
                    {% csrf_token %}
                    <!-- <input type="hidden" name="list_id" value="{{ item.list_id }}"> -->
                    {{ list.add_form.as_p }}
                    <input type="submit" value="Add">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
